$header-gradient-first-color: #ffb1b5;
$header-gradient-second-color: #ffb48a;
/* $header-gradient-second-color: #e5e7dc; */
/* $pink: #ff0052; */
$pink: white;
$light_grey: #f0f0f0;
/* $header-grey:#e5e7dc; */
$box-grey:#f3f6f0;
$logo-color: #e20342;

$v-focus-color: $logo-color;
$v-selection-color: $logo-color;
$v-font-family: "Lato", sans-serif;

@import "../valo/valo";

.xesTheme {
    @include valo;


	/* Chrome, Safari, Opera */
	@-webkit-keyframes opened_menu {
	    0%   {width: 50px;}
	    25%  {width: 100px;}
	    50%  {width: 150px;}
	    100% {width: 200px;}
	}
	
	/* Standard syntax */
	@keyframes opened_menu {
	    0%   {width: 50px;}
	    25%  {width: 100px;}
	    50%  {width: 150px;}
	    100% {width: 200px;}
	}
	
	/* Chrome, Safari, Opera */
	@-webkit-keyframes closed_menu {
	    0%   {width: 200px;}
	    25%  {width: 150px;}
	    50%  {width: 100px;}
	    100% {width: 50px;}
	}
	
	/* Standard syntax */
	@keyframes closed_menu {
	    0%   {width: 200px;}
	    25%  {width: 150px;}
	    50%  {width: 100px;}
	    100% {width: 50px;}
	}
	
	.login-header-logo {
		padding-left: 50px;
		padding-top: 50px;
	}
	.login-header-title {
		font-size: 40px;
		text-align: center;
	}
}